body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f0f4f8;
}

.content {
    width: 90%;
    max-width: 1000px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.navigation {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.navigation a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.hero {
    text-align: center;
    animation: fadeIn 2s ease-in-out;
}

.hero h1 {
    margin: 0;
    font-size: 2.5em;
    color: #997950;
}
.hero p {
    font-size: 1.2em;
    color: #48260D;
}

.about, .products, .contact {
    animation: slideIn 1s ease-in-out;
    text-align: center;
    font-family: sans-serif;
}

.about img, .products img {
    width: 50%;
    max-width: 300px;
    display: block;
    margin: 20px auto;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product {
    width: 45%;
    margin: 20px 0;
    text-align: center;
}

.product img {
    width: 100%;
    max-width: 300px;
}

.product h3 {
    margin: 10px 0;
    color: #48260D;
}
.contact form {
    display: flex;
    flex-direction: column;
}

.contact label {
    margin: 10px 0 5px;
}

.contact input, .contact textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact button {
    padding: 10px;
    background-color: #48260D;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.album-item{
    width: 100%;
    max-width: 300px;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideIn {
    from { transform: translateY(20px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}
